# --- FORDÍTÁS (Build) ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- INTELLIJ (Beállítások) ---
.idea/
*.iws
*.iml
*.ipr

# --- ADATBÁZIS ÉS LOGOK (Szemét) ---
*.db
*.mv.db
*.log
amoba_log.txt

# --- EGYÉB SZERKESZTŐK ---
.vscode/
.classpath
.project
.settings
.DS_Store